<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
</head>
<body>

<h1 class="title-center">Item itemdex</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                
                <td> 
                    <img src="{{item["image"]}}">
                </td>
                <td> 
                    {{item["description"]}}
                </td>
                <td> 
                    {{item["price"]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>

